@page "/c_s_m"
@using Objects

<PageTitle>Create A Skill Tree</PageTitle>

<button class="btn btn-primary" @onclick="AddNode">Press for Node</button>

@code {

    List<Node> Nodes = new List<Node>();
    Node node;

    private void AddNode()
    {
        Nodes.Add(node = new Node());

    }
}
