@page "/assignments"

@inject NavigationManager UriHelper

@using Objects

<h3>Assignments</h3>
<br/>

@foreach (Assignment A in Assignment.AssignmentList)
{
    @if (A.taken)
    {
        <div class="container">
            @Path.GetFileNameWithoutExtension(A.assignmentName)
            <p style="display:inline; float: right">  Grade: @A.score%</p>
        </div>
    }
    else
    {
        <div class="container" @onclick="() => TakeAssignment(A.assignmentName)">
            @Path.GetFileNameWithoutExtension(A.assignmentName)
            <p style="display:inline; float: right">  Grade: not taken </p>
        </div>
    }
}

@code {
    private string FolderPath = Directory.GetCurrentDirectory() + @"\AssignmentFolder\";
    private string[] Files;

    protected override async Task OnInitializedAsync()
    {
        Assignment.getAssignments();
    }

    public void TakeAssignment(string fileName)
    {
        UriHelper.NavigateTo($"takeassignment/{fileName}");
    }
}
