@page "/home"

@using Objects

<PageTitle>Index</PageTitle>

<h1>Hello @User.UserName</h1>

Welcome to your RPG classroom.

@code {
    private User user = new User();

    protected override async Task OnInitializedAsync()
    {
        user = user.buildUser();
    }
}