@layout LoginLayout

@page "/"

@using Objects
@inject NavigationManager UriHelper

<h1> RPG Classroom Login</h1>

<EditForm Model="@user">
    <label for="UserName"> User Name</label>
    <InputText id="UserName" @bind-Value="@name" placeholder="username" /> <br />
    <label for="UserPassword"> Password</label>
    <InputText id="UserPassword" @bind-Value="@password" placeholder="password" type="password" /> <br />
</EditForm>


<button class="btn btn-primary" @onclick="Submit"> Submit </button>

@code {

    private User user = new User();
    private string name;
    private string password;

    private void Submit()
    {
        User.UserName = name;
        user = user.buildUser();
        user.Password = password;
        UriHelper.NavigateTo($"home");
    }

}
