.draggable {
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    transform: translate(0px, 0px);
    position: absolute;
    text-align: center;
    display: block;
    overflow: auto;
}

.resizedrag {
    border-radius: 8px;
    margin: 1rem;
    background-color: #555;
    position: absolute;
    color: white;
    text-align: center;
    /* This makes things *much* easier */
    box-sizing: border-box;
}
