.container {
    width: 50%;
    float: left;
    padding: 20px;
    border: 4px solid black;
}

.avater {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.center {
    margin: auto;
    width: 25%;
}