@page "/persona"

<h3>Welcome "Name": level #1</h3>

<br/>

<img src="PersonaImages/ExampleImage.png" alt="Example Persona" class="avater">

<div class="container">
    General
</div>

<div class="container">
    Badges
</div>

<div class="container">
    Items
</div>

<div class="container">
    Stuff
</div>


@code {

}
