<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RPG Classroom</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="makeskilltree">
                <span class="oi oi-command" aria-hidden="true"></span> Make a Skill Tree
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skilltree">
                <span class="oi oi-people" aria-hidden="true"></span> Skill Tree
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="persona">
                <span class="oi oi-person" aria-hidden="true"></span> Persona
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assignments">
                <span class="oi oi-book" aria-hidden="true"></span> Assignments
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
